@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=League+Spartan&family=Montserrat:wght@500&family=Noto+Serif+Vithkuqi:wght@700&family=Proza+Libre&family=Roboto:ital@0;1&display=swap");
/* font-family: 'Josefin Sans', sans-serif;
font-family: 'League Spartan', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif Vithkuqi', serif;
font-family: 'Proza Libre', sans-serif;
font-family: 'Roboto', sans-serif; */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3a0043;
}

.navbar .container-fluid {
    width: 75%;
}

#carouselMiniGallery {
    width: 80%;
    max-height: 50%;
}

#navbar-ticket-btn {
    border: 2px solid #af3778;
}

section {
    padding-top: 1rem;
}

.landing-section {
    padding-top: 3rem;
    /* min-height: 15rem; */
    background-color: #a5296d;

    color: white;
}

.landing-section .container-fluid {
    width: 50%;
}

.landing-section svg {
    margin-top: 2rem;
}

#jumbotron-title {
    font-family: "Noto Serif Vithkuqi", serif;
}

.card {
    /* background-color: #3a0043; */
    color: white;
    border: none;
    background-color: #a52962;
    border: 1rem solid #a52962;
    height: 91%;
}

.card-body {
    color: white;
    position: relative;
    top: -3.5rem;
    /* transform: translateY(-3.3rem); */
}
.card-text {
    padding-bottom: 0;
    margin-bottom: 0.5rem;
}
.card-body h2 {
    text-shadow: 2px 2px rgb(0, 0, 0, 0.5);
    text-align: center;
}
.card-body p {
    text-align: justify;
}
.card-body a {
    margin: 0;
}
.card-body .wikipedia {
    min-width: 100%;
    max-height: 5rem;
}
.card-body .instagram {
    min-width: 100%;
    margin-top: 0.2rem;
    background-color: #3a0043;
    font-size: 1.5rem;
    color: white;
    transition: 0.5s;
}
.card-body:hover {
}

.jumbotron .container {
    width: 70%;

    /* background-color: blue; */
}
