* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 2000px;
}

#carouselMiniGallery {
    width: 80%;
    max-height: 50%;
}

#navbar-ticket-btn {
    border: 2px solid #af3778;
}

section {
    padding-top: 6rem;
}

.jumbotron {
    padding-top: 3rem;
    /* min-height: 15rem; */
    background-color: #a5296d;

    color: white;
}

.jumbotron p {
    text-align: justify;
}

.about-us {
    min-height: 15rem;
    /* background-color: #a62a6e; */
}

.jumbotron .container {
    width: 70%;

    /* background-color: blue; */
}

.jumbotron .container .row .col-sm {
    /* border: 2px solid black; */
}
